/*  Footer */
.responsive-blog-footer {
  background: #333333;
  padding: 1rem;
  color: white; }
  @media screen and (max-width: 39.9375em) {
    .responsive-blog-footer h4 {
      font-size: 1.5rem; } }
  .responsive-blog-footer p {
    color: #333333; }
  .responsive-blog-footer .mailing-list {
    margin-bottom: 1.5rem; }
  .responsive-blog-footer .mailing-container {
    margin-bottom: 2rem; }
  .responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
    color: #ff0000; }
  .responsive-blog-footer .social {
    float: right; }
  .responsive-blog-footer .subscribe-button {
    background-color: #ff0000; }
    .responsive-blog-footer .subscribe-button:hover {
      background-color: #ff0000;
      transition: color 0.3s ease-in; }
  .responsive-blog-footer .fa-chevron-circle-up {
    font-size: 3rem;
    color: #333333; }
    .responsive-blog-footer .fa-chevron-circle-up:hover {
      color: #595959;
      transition: color 0.3s ease-in; }
