/*  Footer */
// footer {
// 	background-color: yellow;
// 	font-family: 'HelveticaNeueMed';

// 	a {
// 		text-decoration: none;
// 	}

// }

$dark-gray: #333333;
$medium-gray: #999999;
$light-gray: #cccccc;
$primary-color: #ff0000;

$highlight: $primary-color;

.responsive-blog-footer {
  background: $dark-gray;
  padding: 1rem;
  color: white;

  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  p {
    color: $dark-gray;
  }

  .mailing-list {
    margin-bottom: 1.5rem;
  }
  .mailing-container {
    margin-bottom: 2rem;
  }

  .about-section, .tag-section {

    a {
      color: $highlight;
    }
  }

  .social {
    float: right;
  }

  .subscribe-button {
    background-color:$highlight;

    &:hover {
     background-color: $highlight;
     transition: color 0.3s ease-in;
    }
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

     &:hover {
     color: lighten($dark-gray, 15%);
     transition: color 0.3s ease-in;
    }
  }
}



