.main-one-column {
	background-color: #1B9CFC;
}
.main-two-column {
	background-color: #3B3B98;
}
.main-three-column {
	background-color: #25CCF7;
}
.main-column {
	height: 15rem;
	border: 1px solid white;
}